<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- properties 属性文件的应用 -->
<!-- 	<properties resource="datasource.properties">
		<property name="db.username" value="root" />
		<property name="db.password" value="pass4mysql" />
	</properties>
 -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<!-- 类型别名:意义仅在于用来减少类完全限定名的冗余 -->
	<typeAliases>
		<!-- 单个实体类定义别名 -->
		<!-- <typeAlias alias="user" type="com.csl.demo.springmybaits.entity.User" /> -->
		<!-- 批量扫描实体类，默认别名 -->
		<package name="com.csl.demo.springmybaits.entity"/>
	</typeAliases>
	
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driverClassName}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
			</dataSource>
		</environment>

	</environments> -->
	<mappers>
		<mapper resource="mapper/Mapper.xml" />
	</mappers> 
</configuration>